/** Examples

<button>Validate</button
<button class="large">Validate</button
<button class="small link">Validate</button
<a href="#" class="large btn">Validate</a>

**/

/** CSS **/
button, .btn {
    @include font-size($button-font-size);
    @include transition(background-color 300ms ease-out 0s);
    position: relative;
    display: inline-block;
    display: inline-block;
    margin: $button-margin;
    padding: $button-padding;
    border: medium none;
    background-color: $button-background;
    color: $button-color;
    text-align: center;
    text-decoration: none;
    font-weight: normal;
    font-family: $button-font;
    line-height: normal;
    cursor: pointer;

    &:hover, &:focus {
        outline: 0;
        background-color: $button-background-hover;
        color: $button-color-hover;
    }
}

button.small, .btn.small {
    @include font-size($button-small-font-size);
    padding: $button-small-padding;
}

button.large, .btn.large {
    @include font-size($button-large-font-size);
    padding: $button-large-padding;
}

button.link, .btn.link {
    background-color: $button-link-background;
    color: $button-link-color;

    &:hover, &:focus {
        color: $button-link-color-hover;
    }
}