/** CSS **/
.pic {
    margin-top: 4px;
    &.left {
        float: left;
        margin-right: 20px;
    }
    &.right {
        float: right;
        margin-left: 20px;
    }
    /* img floated right within text */
    &.right.inset {
        margin: 0 120px 0 20px;
    }
    /* img floated left within text */
    &.left.inset {
        margin-left: 230px;
    }
}
.pic p, .caption {
    @include font-size($caption-font-size);
    margin: $caption-margin;
    color: $caption-color;
    font-family: $caption-font-family;
    line-height: 1;
}
.one {
    width: 10%;
}
.two {
    width: 20%;
}
.three {
    width: 30%;
}
.four {
    width: 40%;
}
.five {
    width: 50%;
}
.six {
    width: 60%;
}
.seven {
    width: 70%;
}
.eight {
    width: 80%;
}
.frame {
    @include box-shadow($frame-shadow);
    border: $frame-border;
}
.solo img {
    margin-bottom: 20px;
}
