/** Examples
<dl class="tabs" data-tab>
    <dd class="active"><a href="#tab-1"><span>Tab 1</span></a></dd>
    <dd><a href="#tab-2"><span>Tab 2</span></a></dd>
</dl>
<div class="tabs-content">
    <div class="active" id="tab-1"></div>
    <div id="tab-2"></div>
</div>
**/

/** CSS **/
.tabs {
    @include clearfix;
    margin-bottom: 0 !important;

    dd {
        position: relative;
        top: 1px;
        float: left;
        margin: 0 !important;
        > a {
            @include font-size($tabs-navigation-font-size);
            display: block;
            padding-top: $tabs-navigation-padding;
            padding-right: $tabs-navigation-padding * 2;
            padding-bottom: $tabs-navigation-padding + 1px;
            padding-left: $tabs-navigation-padding * 2;
            border-right: $tabs-navigation-border;
            background: $tabs-navigation-bg-color;
            color: $tabs-navigation-font-color;
            font-family: $tabs-navigation-font-family;
            span {
                display: inline-block;
                line-height: $base-line-height;
            }
            &:last-child {
                border-right: 0;
            }
            &:hover {
                background: $tabs-navigation-hover-bg-color;
            }
        }
        &.active {
            a {
                background: $tabs-navigation-active-bg-color;
                color: $tabs-navigation-active-font-color;
            }

            &:before {
                @include font-size(35px);
                position: absolute;
                top: -23px;
                left: 44%;
                color: #fff;
                content:"\f0d7";
                font-family: 'FontAwesome';
            }
        }
    }
}

.tabs-content {
    @include clearfix;
    margin-bottom: $tabs-content-margin-bottom;
    > .content {
        display: none;
        float: left;
        padding: $tabs-content-padding 0;
        &.active {
            display: block;
        }
        &.contained {
            padding: $tabs-content-padding;
        }
    }
    &.vertical {
        display: block;
        > .content {
            padding: 0 $tabs-content-padding;
        }
    }
}