html {
    font-size: $base-font-size;
}

body {
    line-height: 1.5;
    font-family: $font-family;
    font-size: 1rem;
    @include font-size-rem(1);
    color: $font-color;
    @include breakpoint(desktop) {
        @include font-size-rem(1.2);
    }
}

.wrapper-text-optimize {
    max-width: 480px;
    margin: 0 auto;

    @include breakpoint(desktop) {
        max-width: 580px;
    }
}

.wrapper {
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $alternative-font-family;
    line-height: 1.1;
    color: $h-color;
}

h1, .h1 {
    font-weight: 900;
    margin-top: 1em;
    margin-bottom: 1em;
}

h2, h3, h4, h5, .h1, .h2, .h3, .h4, .h5 {
    font-weight: 700;
    margin-top: 1.5em;
    margin-bottom: 0.25em;
}

h1, .h1 {
    @include font-size-rem(2);
}

h2, .h2 {
    @include font-size-rem(1.5);
}

h3, .h3 {
    @include font-size-rem(1.169);
}

h4, .h4 {
    @include font-size-rem(1);
}

h5, .h5 {
    @include font-size-rem(.831);
}

h6, .h6 {
    @include font-size-rem(.669);
}

abbr {
    font-variant: small-caps;
}
